<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins:400,700,900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <title>Kid's Registration</title>
</head>

<body class="kid-reg">

  <div class="container kid-reg-form">
    <form action="{{ url_for('auth_bp.registration_kid') }}" method="POST" enctype=multipart/form-data class="form-horizontal">
      <div class="row">
        <div class="col">
          <div class="header">Register Your Kid's Wallet</div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Name</div>
        <div class="col-6"><input type="name" name="name" class="form-control" placeholder="Enter your Kid's Name"
            required minlength="2" style="text-transform:uppercase">
        </div>
      </div>
      <div class="row">
        <div class="col-3">Date of Birth</div>
        <div class="col-6"><input type="date" name="birthdate" placeholder="Birthdate" required class="form-control"
            max="2013-01-01">
        </div>
      </div>
      <div class="row">

        <div class="col-3">My Kid is a </div>
        <div class="col-3">
          <input type="radio" name="gender" value="G" required>
          <img src="{{ url_for('static', filename='images/girl.png') }}" width="80">
          <input type="radio" name="gender" value="B">
          <img src="{{ url_for('static', filename='images/boy.png') }}" width="80">

        </div>
      </div>
      <div class="row">


        <div class="col-3">Email ID</div>
        <div class="col-6"><input type="email" name="email" placeholder="Enter Email ID" required class="form-control">
        </div>
      </div>
      <div class="row">

        <div class="col-3">Set Pin for Kid</div>
        <div class="col-6"><input type="password" name="pin" placeholder="Enter 4 digit Pin" pattern="[0-9]{4}"
            maxlength="4" class="form-control" required title="Please enter only numeric values (0 to 9)"></div>
      </div>
      <div class="row">


        <div class="col-3">Student ID</div>
        <div class="col-6"><input type=file name=file class="form-control" required></div>
      </div>
      <div class="header">
        <button class="btn btn-primary" alt="Submit">Register</button>
      </div>
    </form>
  </div>

  <div class="footer">
    <p>pigge &copy; 2020-2021</p>
  </div>
</body>

</html>