<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

  <title>Pigge Home Page</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}" />
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
            <a href="#"><img src="{{ url_for('static', filename='images/mylogo.png') }}" alt="" /></a>
          </div>
          <div class="author-content">
            <h4>kids e-wallet</h4>

          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="#section1">About Us</a></li>
              <li><a href="#section2">Features</a></li>
              <li><a href="#section3">Our Focus</a></li>
              <li><a href="#section4">Register/Login</a></li>

            </ul>
          </nav>
          <div class="copyright-text">
            <p>Copyright &copy;2020-21</p>
          </div>
        </div>
      </div>
    </div>

    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2>Get Started with Pigge</h2>
          <div class="line-dec"></div>
          <span>Pigge is a digital piggy bank for kids where they can save money in their e-wallets and spend it
            independently on available services or transfer it to their friends.</span>
        </div>
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="{{ url_for('static', filename='images/im4.jpg') }}" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>About us</h4>
                <p>Pigge is a digital e-wallet platform for kids of age group 8+ years. It is a freedom enjoyed by kids
                  and trusted platform for parents.
                  At pigge kids learn most important 3's - saving, spending and sharing through our interactive and
                  interesting tips, tricks and quizzes related to money management.
                </p>
                <div class="white-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Why do Kids' need Pigge ?</h4>
                <p>As kids enter into the era of technological advancements with many activites getting digital, they
                  grow up with a pressure to cope with these activities. One such
                  bigger advancement has been seen in the financial industry such as payments through e-wallet. Pigge
                  gives the kids an amazing benefit of having their personal e-wallets for
                  saving their pocket money and spending it for their necessities independently. Parents play a primary
                  role in teaching their kids importance of financial responsibility.To make it easy
                  for them Pigge gives them ability to monitor the kids' wallet activities and approve their
                  transactions.
                </p>
                <div class="white-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="{{ url_for('static', filename='images/im3.jpg') }}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section my-services" data-section="section2">
      <div class="container">
        <div class="section-heading">
          <h2>Features</h2>
          <div class="line-dec"></div>
          <span>Read more to know Us better</span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="service-item">
              <div class="first-service-icon service-icon"></div>
              <h4>Kid registration</h4>
              <p>To register the kid at Pigge for availing wallet and its services only a parent/Guardian can fill in
                the details of the kid such as their name, date of birth, email-id, etc and provide authentic proof of
                his/her identity such as ID card for verification.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="second-service-icon service-icon"></div>
              <h4>Personal wallets to save and spend</h4>
              <p>Kids get access to their personal e-wallets for saving their pocket money and spend it on available
                services such as food, clothes or any such available services or sharing with their friends.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="third-service-icon service-icon"></div>
              <h4>Parental Control</h4>
              <p>Pigge provides parents the solo authority to add funds into their kids' account. Parents get to keep an
                eye on their kids' wallet activities and approve any transaction their kid wishes to make.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="fourth-service-icon service-icon"></div>
              <h4>Learn, Follow and Master</h4>
              <p>
                Pigge aims to teach kids the importance of having financial responsibility and money management for
                which the kids get access to various interesting tips, tricks and quizzes
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section my-work" data-section="section3">
      <div class="container">
        <div class="section-heading">
          <h2>Our Focus</h2>
          <div class="line-dec"></div>
        </div>
        <div class="row">
          <div class="isotope-wrapper">
            <div class="isotope-box">
              <div class="isotope-item" data-type="all">
                <figure class="snip1321">
                  <img src="{{ url_for('static', filename='images/im1.jpg') }}" alt="sq-sample26" />
                  <figcaption>
                    <a href="{{ url_for('static', filename='images/im1.jpg') }}" data-lightbox="image-1"
                      data-title="Caption"><i class="fa fa-search"></i></a>
                    <h4>Go cashless</h4>
                  </figcaption>
                </figure>
              </div>

              <div class="isotope-item" data-type="all">
                <figure class="snip1321">
                  <img src="{{ url_for('static', filename='images/im2.jpg') }}" alt="sq-sample26" />
                  <figcaption>
                    <a href="{{ url_for('static', filename='images/im2.jpg') }}" data-lightbox="image-1"
                      data-title="Caption"><i class="fa fa-search"></i></a>
                    <h4>Digital India initiative motto</h4>
                    <span>"Power to Empower"</span>
                  </figcaption>
                </figure>
              </div>

              <div class="isotope-item" data-type="all">
                <figure class="snip1321">
                  <img src="{{ url_for('static', filename='images/im5.jpg') }}" alt="sq-sample26" />
                  <figcaption>
                    <a href="{{ url_for('static', filename='images/im5.jpg') }}" data-lightbox="image-1"
                      data-title="Caption"><i class="fa fa-search"></i></a>
                    <h4>Manage</h4>
                    <span>Secure and a fun platform for parents to teach their kids money management</span>
                  </figcaption>
                </figure>
              </div>

              <div class="isotope-item" data-type="all">
                <figure class="snip1321">
                  <img src="{{ url_for('static', filename='images/im6.jpg') }}" alt="sq-sample26" />
                  <figcaption>
                    <a href="{{ url_for('static', filename='images/im6.jpg') }}" data-lightbox="image-1"
                      data-title="Caption"><i class="fa fa-search"></i></a>
                    <h4>Learn</h4>
                    <span>kids get to learn spending, saving and sharing</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section Register" data-section="section4">
      <div class="container">
        <div class="section-heading">
          <h2>New to Pigge ?</h2>
          <div class="line-dec"></div>
          <span>Click below to Register.</span>
          <div class="white-button">
            <p></p>
            <a href="{{url_for('auth_bp.registration_parent')}}" name="Register">Register</a>
          </div>
        </div>
        <div class="line-dec"></div>
        <div class="section-heading">
          <h2>Already have an account ?</h2>
          <div class="line-dec"></div>
          <span>Click below to Login.</span>
          <div class="white-button">
            <p></p>
            <a href="{{url_for('auth_bp.login')}}" name="Login">Login</a>
          </div>
        </div>
      </div>
  </div>
  </div>
  </section>








  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->

  <script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script>
    //according to loftblog tut
    $(".main-menu li:first").addClass("active");

    var showSection = function showSection(section, isAnimate) {
      var direction = section.replace(/#/, ""),
        reqSection = $(".section").filter(
          '[data-section="' + direction + '"]'
        ),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $("body, html").animate(
          {
            scrollTop: reqSectionPos
          },
          800
        );
      } else {
        $("body, html").scrollTop(reqSectionPos);
      }
    };

    var checkSection = function checkSection() {
      $(".section").each(function () {
        var $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var currentId = $this.data("section"),
            reqLink = $("a").filter("[href*=\\#" + currentId + "]");
          reqLink
            .closest("li")
            .addClass("active")
            .siblings()
            .removeClass("active");
        }
      });
    };

    $(".main-menu").on("click", "a", function (e) {
      e.preventDefault();
      showSection($(this).attr("href"), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>
