<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #6bf5ff;
}

.content {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}

input{
  width: 70%;
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  
}

input[type=submit]{
	background-color:blue;
    font-size: 20px;  
    color:white;
}
</style>
</head>
<body>
<a href="{{ url_for('kdash.kid_dashboard')}}"><img src="{{ url_for('static', filename='images/backtohome.png') }}" width="50" alt="back to dashboard"></a>
<div class="content">
  <img src="{{ url_for('static', filename='images/trans.gif') }}" width="400">
  <form method="POST">
  <h1>ID</h1><input type="text" name="receiver_wallet_id" placeholder="Enter PIGGE ID of your buddy" minlength="10" maxlength="10" required><br>
  <h1>&#8377</h1> <input type="number" name="amount" placeholder="Enter amount to pay" required min="1"><br><br><br>
  <input type="submit" value="GO">
  </form>
</div>

</body>
</html>